<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <h6>Our Address</h6>
                <address>
              Microlab<br>    
              77/12, Becharam Chatterjee Road,<br>
              Behala, Kolkata - 700034<br>
              India<br>
              <i class="fa fa-phone"></i>: +91 9830464588<br>
              <i class="fa fa-envelope"></i>:
                     <a href="mailto:ranjanbroti@gmail.com">
                     ranjanbroti@gmail.com</a>
                </address>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=right>© Copyright 2017 Microlab</p>
            </div>
        </div>
    </div>
</footer>
