    <header class="jumbotron">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h3>Microlab's</h3>
                <h4>Transformer Sensing And Monitoring</h4>
                <p>We make your transformer intelligent!</p>
                <p>We take inspiration from the World's cutting edge technology, and create
                 realtime cloud based remote sensing and monitoring system to safegaurd your transformers.</p>
                <a class="btn btn-lg btn-success" ui-sref="app.contactus" role="button">Contact us today</a>
            </div>
            <div class="col-xs-12 col-sm-2">
            <p style="padding:20px;"></p>
            <img src="images/logo.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-2">
            </div>
        </div>
    </div>
    </header>

    <div class="container">
        
        <div class="row row-content">

            <h3>Features</h3>
            <h4>Our system uses state of art realtime algorithm to predict cratastrophic breakdowns and helps save your transformer</h4>
            <p style="padding:20px;"></p>

            
                <ul class="media-list">
                   <li class="media">
                       <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" height=80 width=auto
                            src="images/wifi-signal.png" alt="remote sensing">
                       </div>
                       <div class="media-body">
                           <h5>Realtime Sensing</h5>
                           <h6>
                                The system senses transformer Voltages, Loads and core temperatures realtime 24x7. <br>
                                The IOT based senser is deployed at the transformer site. The sensor feeds the data to cloud. All your data is monitored.
                           </h6>
                           <p style="padding:20px;"></p>
                       </div>
                   </li>
                    
                   <li class="media">
                       <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" height=80 width=auto
                            src="images/database.png" alt="remote sensing">
                       </div>
                       <div class="media-body">
                           <h5>Cloud Based Monitoring</h5>
                           <h6>
                                The system uses cloud platform to monitor all the transformer parameters.<br>
                                All the transformer parameters are securely stored in the cloud database.<br>
                                Realtime Prediction model algorithm works on the data to predict catastrophic.
                           </h6>
                           <p style="padding:20px;"></p>
                       </div>
                   </li>

                   <li class="media">
                       <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" height=80 width=auto
                            src="images/firewall.png" alt="remote sensing">
                       </div>
                       <div class="media-body">
                           <h5>Breakdown Prevention</h5>
                           <h6>
                                Whenever the transformer parameters approaches critical ranges, the system intelligence shuts down the transformer before a complete catastrophy. Safegaurds and shields the transformer.
                           </h6>
                           <p style="padding:20px;"></p>
                       </div>
                   </li>
                   <li class="media">
                       <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" height=80 width=auto
                            src="images/notification.png" alt="remote sensing">
                       </div>
                       <div class="media-body">
                           <h5>Client Notifications</h5>
                           <h6>
                                The system is capable of notifying the client via email/sms whenver the system condition goes into critical.<br>
                                Client Alerts and Notifications ensures immediate attention to the situation.  
                           </h6>
                           <p style="padding:20px;"></p>
                       </div>
                   </li>
                    
                </ul>            
        </div>
    
    </div>
